<head>
    @model LoginViewModel
    @{
        Layout = "_LayoutLoggedOut";
        ViewData["Title"] = "Login";
    }
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>
    <main class="login-wrapper">
        <section class="login-left">
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success" role="alert">
                    <button type="button" class="btn btn-success btn-sm close-alert-success" data-bs-dismiss="alert" arial-label="Close">X</button>
                    @TempData["SuccessMessage"]
                </div>
            }

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="btn btn-danger btn-sm close-alert-error" data-bs-dismiss="alert" aria-label="Close">X</button>
                    @TempData["ErrorMessage"]
                </div>
            }
        </section>
        <section class="login-right">
            <h1 class="login-right-titulo">GalaxyControl</h1>
            <div class="login-card">
                <h2>Login</h2>
                <form asp-controller="Login" class="form-container" asp-action="Login" method="post">
                    <div class="input-group">
                        <label for="email" name="email">Email</label>
                        <div class="input-group">
                            <input type="email" asp-for="Email" maxlength="256" id="email" placeholder="Informe seu e-mail">
                        </div>
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-group">
                        <label for="senha" name="senha">Senha</label>
                        <div class="input-group">
                            <input type="password" asp-for="Senha" class="form-control" id="senha" placeholder="Informe a senha">
                            <button class="input-group-showPassword" type="button" id="showHidePassword">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </button>
                        </div>
                        @Html.ValidationMessageFor(x => x.Senha, "", new { @class = "text-danger" })
                    </div>

                    <div class="button-group">
                        <button type="submit" class="btn">Logar</button>
                        <a asp-action="Register" asp-controller="Login" class="btn register-btn">Cadastrar</a>
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>