<head>
    @model RedefinirSenhaPeloLoginViewModel
    @{
        Layout = "_LayoutLoggedOut";
        ViewData["Title"] = "Redefinir senha";
    }
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>
    <main class="login-wrapper">
        <section class="login-left">
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success" role="alert">
                    <button type="button" class="btn btn-success btn-sm close-alert-success" data-bs-dismiss="alert" arial-label="Close">X</button>
                    @TempData["SuccessMessage"]
                </div>
            }

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="btn btn-danger btn-sm close-alert-error" data-bs-dismiss="alert" aria-label="Close">X</button>
                    @TempData["ErrorMessage"]
                </div>
            }
        </section>
        <section class="login-right">
            <h1 class="login-right-titulo">GalaxyControl</h1>            
            <div class="login-card">
                <h2>Login</h2>
                <form asp-controller="Login" asp-action="SendLinkToRedefinePassword" method="post">
                    <div class="input-group">
                        <label for="email" name="email">Email</label>
                        <div class="input-group">
                            <input type="email" asp-for="Email" id="email" placeholder="Informe seu email" required>
                        </div>
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="button-group">
                        <button type="submit" class="btn">Enviar email</button>
                        <a asp-action="Index" asp-controller="Login" class="btn register-btn">Voltar ao Login</a>
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>