<div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto bg-light min-vh-100 d-flex flex-column p-3">
            <a href="/" class="d-block p-3 link-dark text-decoration-none">
                <i class="bi-bootstrap fs-1"></i>
            </a>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link text-truncate" style="color: black; font-size: 20px;">
                        <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Nave" asp-action="Index" class="nav-link text-truncate" style="color: black; font-size: 20px;">
                        <i class="bi bi-rocket-takeoff-fill"></i><span class="ms-1 d-none d-sm-inline">Naves</span>
                    </a>
                </li>
            </ul>
            <div class="mt-auto dropdown">
                <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi-person-circle h2"></i>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                    <li>
                        <a asp-area="" asp-controller="Login" asp-action="RedefinePassword" class="dropdown-item" style="color: black;">Redefinir Senha</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Login" asp-action="Exit" class="dropdown-item" style="color: black;">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>