.galaxy-background {
    background-image: url(../img/galaxia.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

#loading-bar {
    width: 80%;
    height: 20px;
    background-color: #333;
    margin: 20px auto;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

    #loading-bar .progress {
        width: 0%;
        height: 100%;
        background: linear-gradient(90deg, #00ff00, #009900);
        animation: loading 3s forwards;
        border-radius: 10px;
    }

@keyframes loading {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

#loading-message {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 1.5rem;
}

.patos-container {
    position: relative;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
}

.pato-container {
    position: relative;
    text-align: center;
    margin: 10px;
    width: 150px;
}

.pato {
    width: 100%;
    height: auto;
    display: block;
    border: 2px solid white;
    border-radius: 10px;
}

.pato-info {
    color: white;
    margin-top: 10px;
    font-size: 1rem;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .pato-container {
        width: 80px;
    }

    .pato-info {
        font-size: 0.8rem;
    }
}