<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/galaxy.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container galaxy-background">
        <div class="container">
            <h1>Monitoramento de Patos Galácticos</h1>
            <div id="loading-bar" style="display: none;">Conectando ao óculos...</div>
            <div id="patos-container" class="patos-container"></div>
            <div id="info-container">
                <h2>Informações dos Patos</h2>
                <ul id="info-list"></ul>
            </div>
        </div>
    </div>

    <script src="~/js/patos.js"></script>
</body>